<section class="l-section block block-feature2">
  <div class="container">
    <div class="py-4 row align-items-center">
      <div class="col-md-6 media">
          <img class="w-100 d-block" src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}">
      </div>
      <div class="col-md-6 text">
        {% if section.headline and section.headline != "" %}
        <h2 class="section-title">{{ section.headline }}</h2>
        {% endif %}
        {{ section.content | markdownify }}
      </div>  
    </div>
  </div>
</section>
