{% if section.media_alignment and section.media_alignment == "Left" %}
{% include block-feature-2.html %}
{% else %}
<section class="block block-feature-1">
<div class="container">
    <div class="py-4 row">
      <div class="col-md-6 text">
        <h3 class="hero-color">{{ section.headline }}</h3>
        <p>{{ section.content }}</p>
      </div>
      <div class="col-md-6 media">
        <img class="w-100 d-block" src="{{ section.media.image | relative_url }}" alt="{{ section.media.alt_text }}">
      </div>
    </div>      
  </div>
</section>
{% endif %}
