
 <section class="book-a-demo">
	
	<a class="bookademo-closebtn float-right text-danger bg-white rounded-circle font-weight-bold">X</a>

    <h4 class="h3 font-weight-bold text-white text-left">book a demo</h4>

    <p class="text-white">use form below, or select a time that best suits you by <a id="book-calendly" class="text-underline text-primary" href="https://calendly.com/martenj/call-with-marty" target="_blank">clicking here.</a></p>

             <form action='https://crm.zoho.com/crm/WebToLeadForm' name=WebToLeads4060852000002066005 method='POST' onSubmit='javascript:document.charset="UTF-8"; return checkMandatory4060852000002066005()' accept-charset='UTF-8'>
             <input type='text' style='display:none;' name='xnQsjsdp' value='0e0451cf55ef81e789cc75a4b789b0167e95e8d9c42c171cead3a908db0d53f7'></input> 
             <input type='hidden' name='zc_gad' id='zc_gad' value=''></input> 
             <input type='text' style='display:none;' name='xmIwtLD' value='d31b5dadb4fde283500edff1888d1231c27ba428d8709f4b346cf03e72064f1e'></input> 
             <input type='text'  style='display:none;' name='actionType' value='TGVhZHM='></input>
             <input type='text' style='display:none;' name='returnURL' value='https://stratapp.ai/thankyou-booking/' > </input>
             <!-- Do not remove this code. -->

            <div class="row mb-1">
              <div class="col-sm-12 mb-2">
                <label for="formInputFirstName" class="sr-only">first name</label>
                <input type="text" id="formInputFirstName" name='First Name' placeholder="first name" class="form-control form-control-sm">
              </div>
              <div class="col-sm-12 mb-2">
                <label for="formInputLastName" class="sr-only">last name</label>
                <input type="text" id="formInputLastName" name='Last Name' placeholder="last name" class="form-control form-control-sm">
              </div>

              <div class="col-sm-12 mb-2">
                <label for="formInputEmail" class="sr-only">email</label>
                <input type="text" id="formInputEmail" name='Email' placeholder="email" class="form-control form-control-sm">
              </div>
              <div class="col-sm-12 mb-2">
                <label for="formInputContactNumber" class="sr-only">Contact Number</label>
                <input type="text" id="formInputContactNumber" name="Phone" placeholder="contact number" class="form-control form-control-sm">
              </div>

              <div class="col-sm-12 mb-2">
                <label for="formInputTitle" class="sr-only">title/ position</label>
                <input type="text" id="formInputTitle" name="Designation" placeholder="title / position" class="form-control form-control-sm">
              </div>
              <div class="col-sm-12 mb-2">
                <label for="formInputOrganizationName" class="sr-only">organisation name</label>
                <input type="text" id="formInputOrganizationName" name="Company" placeholder="organisation name" class="form-control form-control-sm">
              </div>

              <div class="col-sm-12 mb-2">
                <label for="formInputNumEmployees" class="sr-only">number of employees</label>
                <input type="text" id="formInputNumEmployees" name="No of Employees" placeholder="number of employees" class="form-control form-control-sm">
              </div>
              <div class="col-sm-12 mb-2">
                <label for="formInputLnUrl" class="sr-only">LinkedIn (optional)</label>
                <input type="text" id="formInputLnUrl" name="LEADCF1" placeholder="LinkedIn (optional)" class="form-control form-control-sm">
              </div>

              
            </div>
            <select style='display:none;width:250px;' name='Lead Source'>
              <option value='-None-'>-None-</option>
              <option value='Direct&#x20;Contact'>Direct Contact</option>
              <option value='P2P&#x20;referral'>P2P referral</option>
              <option value='B2B&#x20;referral'>B2B referral</option>
              <option value='Partner&#x20;referral'>Partner referral</option>
              <option selected value='Website'>Website</option>
            </select>

            <select style='display:none;width:100%;box-sizing:border-box;' name='Lead Status'>
              <option value='-None-'>-None-</option>
              <option value='created'>created</option>
              <option selected value='demo&#x20;request&#x20;from&#x20;website&#x20;form'>demo request from website form</option>
              <option value='LI&#x20;connected'>LI connected</option>
              <option value='engaged&#x20;&#x2f;&#x20;evaluating'>engaged &#x2f; evaluating</option>
              <option value='free&#x20;trial&#x20;set-up&#x20;call&#x20;booked'>free trial set-up call booked</option>
              <option value='free&#x20;trial&#x20;set-up&#x20;call&#x20;held&#x20;&#x28;convert&#x20;to&#x20;Deal&#x29;'>free trial set-up call held &#x28;convert to Deal&#x29;</option>
              <option value='Closed&#x20;Lost'>Closed Lost</option>
              <option value='Qualified&#x20;Out'>Qualified Out</option>
              <option value='Junk&#x20;Lead'>Junk Lead</option>
            </select>

            <div class="text-right">
              <button type="submit" id="formsubmit" class="btn btn-danger rounded-pill">Submit</button>
            </div>

              	<script>
               	  var mndFileds=new Array('Last Name','Company','Email');
               	  var fldLangVal=new Array('Last Name','Company','Email'); 
              		var name='';
              		var email='';

               	  function checkMandatory4060852000002066005() {
              		for(i=0;i<mndFileds.length;i++) {
              		  var fieldObj=document.forms['WebToLeads4060852000002066005'][mndFileds[i]];
              		  if(fieldObj) {
              			if (((fieldObj.value).replace(/^\s+|\s+$/g, '')).length==0) {
              			 if(fieldObj.type =='file')
              				{ 
              				 alert('Please select a file to upload.'); 
              				 fieldObj.focus(); 
              				 return false;
              				} 
              			alert(fldLangVal[i] +' cannot be empty.'); 
                 	   	  	  fieldObj.focus();
                 	   	  	  return false;
              			}  else if(fieldObj.nodeName=='SELECT') {
                	   	   	 if(fieldObj.options[fieldObj.selectedIndex].value=='-None-') {
              				alert(fldLangVal[i] +' cannot be none.'); 
              				fieldObj.focus();
              				return false;
              			   }
              			} else if(fieldObj.type =='checkbox'){
               	 	 	 if(fieldObj.checked == false){
              				alert('Please accept  '+fldLangVal[i]);
              				fieldObj.focus();
              				return false;
              			   } 
              			 } 
              			 try {
              			     if(fieldObj.name == 'Last Name') {
              				name = fieldObj.value;
               	 	 	    }
              			} catch (e) {}
              		    }
              		}
              		document.getElementById('formsubmit').disabled=true;
              	}
              </script>
          </form>
        </div>
</section>