<section class="{% if include.class %}{{ include.class }}{% endif %} pt-5" data-aos="fade-up" data-aos-delay="200">

        <div class="container">
            
           <h3 class="mb-5 mt-4">connects to:</h3>

           <div class="d-flex w-100 justify-content-center m-auto">
              
              <img src="/images/content/logo-microsoft-teams.png" class="px-1 w-50">

              <img src="/images/content/logo-slack.svg" class="px-2 px-md-5 w-50">

           </div>

        </div>

</section>