<section class="{% if include.class %}{{ include.class }}{% endif %}" data-aos="fade-up" data-aos-delay="200">

        <div class="container">
            
            <div class="events text-center">

            {% assign events = site.events | sort: 'date' %}
            {% for event in events %}
                
                
                  <div class="event-teaser card mb-4 shadow-lg">
                    <div class="card-header text-white">
                      <h2 class="my-0 mb-4 font-weight-bold">{{ event.title }}</h2>
                      <div class="h3 mb-0 mt-2">{{ event.sub_heading }}</div>
                    </div>
                    <div class="card-body">
                      <p class="my-0 h5 card-title">{{ event.content }}</hp>
                      <div class="h6 mb-0 mt-1"><a class="btn btn-sm btn-danger mr-1" href="{{ event.url | absolute_url }}">More Information</a></div>
                    </div>
                  </div>


              {% endfor %}

            </div>

        </div>

    </section>