<section id="explainervideo" class="{% if include.class %}{{ include.class }}{% endif %}" data-aos="fade-up" data-aos-delay="200">

        <div class="container">
            
            <div class="video text-center">

                     
                     
                      <div id="videoContainer">
                        <iframe id="explainer-video" class="video" width="850" height="483" src="https://www.youtube.com/embed/{{ page.youtube_id }}?wmode=transparent&rel=0" frameborder="0" allowfullscreen wmode="Opaque"></iframe>
                      </div>
                      
            </div>

        </div>

    </section>