<a id="introvid-popup" class="introVid-fixed btn btn-white rounded-pill">how it works</a>


<div id="explainervideo-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="explainervideo-popup" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            	<h6 class="modal-title font-weight-bold">#stratapp - strategy+execution+collaboration - how it works</h6>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <iframe width="765" height="431" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
