</main>
 <footer class="c-footer mt-auto">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <div id="navbarFooterCollapse" class="navbar-collapse collapse">
            <ul class="navbar-nav align-items-md-center">
            {% for link in site.menus.navigation %}
            <li class="nav-item {% if link.children %}nested {% endif %}{% if url == link.url %}current{% endif %}">
              {% if link.children %}
              <ul class="first-level">
                {% for child in link.children %}
                <li>
                  {% if child.children %}
                  <ul class="second-level">
                    {% for child in child.children %}
                    <li>
                      <a href="{{ child.url | absolute_url }}">{{ child.title }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                  <a href="{{ child.url | absolute_url }}"{% if child.target %} target="_blank" {% endif %}>
                    {{ child.title }}
                    {% if child.childen %}
                      <i class='icon-right-dir-2'></i>
                    {% endif %}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              <a href="{{ link.url | absolute_url }}"{% if link.target %} target="_blank" {% endif %}>
                    {{ link.title }}
                    {% if link.childen %}
                      <i class='icon-chevron-down'></i>
                    {% endif %}
                  </a>
            </li>
            {% endfor %}
            <li class="nav-item">
              <form action="/contact">
                <button type="text" class="btn btn-primary rounded-pill">Contact us</button>
              </form>
           </li>
          </ul>
          </div>
       

          <a href="/" class="mr-0 navbar-brand">
            <img src="/images/content/logo.png">
          </a>
          <button type="button" data-toggle="collapse" data-target="#navbarFooterCollapse" aria-controls="navbarFooterCollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
        </div>
      </nav>
      <div class="c-footer-bottom bg-light">
        <div class="container">
          <div class="d-md-flex justify-content-md-between align-items-md-center">
            <ul class="nav">
              <li class="nav-item"><a href="/privacy" class="nav-link">privacy</a></li>
              <li class="nav-item"><a href="/terms" class="nav-link">terms</a></li>
              <li class="nav-item"><a href="/fair-usage" class="nav-link">fair usage</a></li>
              <li class="nav-item"><a href="/sitemap" class="nav-link">sitemap</a></li>
            </ul>
            <div>© copyright #stratapp<span class="c-devider">|</span><a href="https://www.weareva.com.au" target="_blank">website by VA</a></div>
          </div>
        </div>
      </div>
    </footer>
  
<div class="bookademo-drawer bg-dark bookademo-drawer-right">

  {% include book-a-demo.html class="explainer-video-popup" %} 

</div>
  
  

  <!-- Javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ "/js/bootstrap.min.js"  | absolute_url }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/readmore-js@2.2.1/readmore.min.js" integrity="sha256-ygz7RPJkJA9GMkV/1XKiK5GEfenXOdkEj2yhi8LRipU=" crossorigin="anonymous"></script>

  <script type="text/javascript" src="{{ "/dist/scripts/main.js"  | absolute_url }}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha256-pQBbLkFHcP1cy0C8IhoSdxlm0CtcH5yJ2ki9jjgR03c=" crossorigin="anonymous"></script>
  

  <script>
    AOS.init();
  </script>
  

  

</body>
</html>