<section class="{% if include.class %}{{ include.class }}{% endif %}">
        <div class="container container--small">           
          <div class="h3 text-center font-weight-bold mb-4" data-aos="fade-up" data-aos-delay="100">three big changes</div>
          <div class="h5 text-center mb-5" data-aos="fade-up" data-aos-delay="100">we believe 3 big changes are coming in the next 5 years</div>
          <ul class="c-changes list-unstyled text-center">
            <li class="c-changes__row" data-aos="fade-up" data-aos-delay="200">
              <div class="h3 mx-auto text-danger bg-white rounded-circle font-weight-bold mb-4 c-changes__num">1</div>

              <h5>a new B2B software category is coming</h5>

              <h6>Nearly every organization globally with 75+ employees will adopt SaaS to collaborate and execute on strategy AND day-to-day work - in one place, in one seamless user experience.</h6>

              <h6>We don’t go to work to do CRM, HCM, finance and email - these are important, but secondary.</h6>

              <h6>We go to work to collaborate and execute on our organization’s strategy and plans - that is what matters.</h6>

              <h6>#stratapp is the world’s first SaaS to rise to this new B2B software category.</h6>

            </li>
            <li class="c-changes__row" data-aos="fade-up" data-aos-delay="300">

              <div class="h3 mx-auto text-danger bg-white rounded-circle font-weight-bold mb-4 c-changes__num">2</div>

              <h5>companies will rationalize the proliferation of single-use apps</h5>

              <h6>Consumers are organizing their smartphones around the apps they really need - less is more.</h6>

              <h6>CEOs and business owners don’t want to send employees to 10+ different apps in order to do their jobs.</h6>

              <h6>#stratapp is 10-apps-in-1.</h6>
            </li>
            <li class="c-changes__row" data-aos="fade-up" data-aos-delay="400">

              <div class="h3 mx-auto text-danger bg-white rounded-circle font-weight-bold mb-4 c-changes__num">3</div>
              
              <h5>the brilliant and viral evolution of work collaboration tech (e.g. basecamp, trello, jira and asana) are only known to about 10-15% of employees - generally folks working in digital, product or technology teams</h5>

              <h6>Why? For 11 years, the design of social and work collaboration tech has focused on small teams up to 30 people.</h6>

              <h6>#stratapp is designed for all levels, roles and generations - scalable org-wide from 5 to 500,000 employees.</h6>

              <h6>#stratapp delivers genuine org-wide collaboration - reducing the noise, by framing collaboration within a relevant context of strategy and plans.</h6>

              <h6>#stratapp is a game changer.</h6>

            </li>
          </ul>
        </div>
      </section>