body {
	font-family: $font-family;
	font-size: $body-font-size;
}
.container--small {
	max-width: $container-small;
}
.container--extra-small {
	max-width: $container-extra-small;
}
.l-section {
	padding-top: $section-padding-y / 2.5; 
	padding-bottom: $section-padding-y / 2.5;
}
.l-section-sm {
	padding-top: $section-padding-y / 2.75; 
	padding-bottom: $section-padding-y / 2.75;
}
.l-section-mt-n {
	margin-top: -$section-margin-negative / 2;
} 
.u-shadow-primary {
	box-shadow: -1px 2px 3px 0px rgba($primary,0.6);
}
.mb-xxl {
	margin-bottom: $margin-extra-large / 2;
}
.bg-lightest {
	background-color: $bg-lightest !important;
}
.bg-lightblue {
	background: $bg-lightblue;
}
.bg-medblue {
	background: $bg-mediumblue;
}
.bg-image {
	// background-image: url(../images/general/header-banner-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.bg-primary-grad {
	background: linear-gradient(100deg, $white 60%, rgba($primary, .2) 60%);
}
.btn:not(.btn-link) {
	text-transform: lowercase;
	background-color: $white;
}
.btn-danger {
    @include gradient-bg($danger, -90deg);
    box-shadow: 0px 2px 3px 0px rgba($danger, 0.6);
}
.btn-primary {
    @include gradient-bg($primary, -90deg);
    box-shadow: 0px 2px 3px 0px rgba($primary, 0.6);
}
.btn-outline-danger,
.btn-outline-dark {
	box-shadow: 0px 2px 3px 0px rgba($white, 0.6);

	&:hover {
		box-shadow: inset 0px 0px 0px 2px $white;
	}
}
.btn {
	border-radius: 30px;
}
.btn-sm {
	font-size: 0.8rem;
	padding: 0.4em 1.2em;
	
}
.c-prices-tab {
	flex-wrap: unset;

	> .btn.rounded-pill {

		&:first-child {
			border-top-right-radius: 0 !important;
			border-bottom-right-radius: 0 !important;
		}
		&:last-child {
			border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
		}
	}
}
.c-form-control {
    background: transparent;
    color: $white;
    border-color: $white;

    &::placeholder {
        color: $white;
        opacity: 1;
    }
    &:focus {
        color: $white;
        background: transparent;
        box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color;
    }
}
@include media-breakpoint-up(md) {
	.mb-xxl {
		margin-bottom: $margin-extra-large;
	}
}
@include media-breakpoint-up(lg) {
	.l-section {
		padding-top: $section-padding-y; 
		padding-bottom: $section-padding-y; 
	}
	.l-section-sm {
		padding-top: $section-padding-y / 1.75; 
		padding-bottom: $section-padding-y / 1.75;
	}
}
@include media-breakpoint-down(lg) {
	h1, .h1 { font-size: $h1-font-size / 1.25 }
	h2, .h2 { font-size: $h2-font-size / 1.35 }
	h3, .h3 { font-size: $h3-font-size / 1.15 }
	h4, .h4 { font-size: $h4-font-size }
	h5, .h5 { font-size: $h5-font-size }
	h6, .h6 { font-size: $h6-font-size }
}

h1 {
	font-size: 1.875rem;
}
.shrinkable { overflow: hidden; transition: all 0.3s ease; }

.bg-primary .color-block {
	background: #fff;
	opacity: .2;
	border-radius: 2px;
}
.bg-white .color-block {
	background: #006eb6;
	opacity: .2;
	border-radius: 2px;
}
.bg-lightest .color-block {
	background: #283042;
	opacity: .2;
	border-radius: 2px;
}
.bg-dark .color-block {
	background: #fff;
	opacity: .2;
	border-radius: 2px;
}


.bookademo-drawer-push {
	overflow-x: hidden;
	position: relative;
	right: 0;
}
.bookademo-closebtn {
	width: 30px;
	height: 30px;
	padding: 5px 0;
	text-align: center;
	display: block;
	cursor: pointer;
}
.bookademo-drawer {
  	height: 100%;
  	position: fixed;
	text-align: left;
	top: 0;
	width: 350px;
	padding: 3em;
}

.bookademo-drawer-right { right: -350px; }

.bookademo-drawer-right.bookademo-drawer-open { right: 0; }

.bookademo-drawer-pushtoleft { right: 350px; }

.bookademo-drawer, .bookademo-drawer-push {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


.connects-section-front {
	@include media-breakpoint-down(md) {
		img {
			max-height: 65px;
			width: auto !important;
		}
	}	
	@include media-breakpoint-down(sm) {
		img {
			max-height: 65px;
			width: auto !important;
			max-width: 45%;
		}
	}	
}

// Free Trial

#free-trial {
	#formsubmit {
		width: 100%;
		box-shadow: none;
		&:disabled {
			cursor: not-allowed;
			color: $dark;
			background-color: $light;
		}
	}
}
