$font-family: 'Rubik', sans-serif;
$body-font-size: 14px;

$container-small: 940px;
// $container-small: 1010px;
$container-extra-small: 760px;

$section-padding-y: 7.8125rem;
$section-margin-negative: 2.5rem;

$navbar-nav-item-padding-x: 1.5rem;

$bg-lightest: #f1f2f2;

$margin-extra-large: 3.75rem;

$bg-lightblue: #f5fbff;

$bg-mediumblue: #dde3e8;