.c-article, .c-blog {

	position: relative;

	&__img-sm {
	    width: 100%;
	    height: 153px;
	    object-fit: cover;
	}
	&__img-md {
	    width: 100%;
	    height: 142px;
	    object-fit: cover;
	}

	&__img-lg {
		width: 100%;
	    height: 272px;
	    object-fit: cover;
	}
}
@include media-breakpoint-up(md) {
	.c-article {

		&__img-sm {
		    width: 25%;
		}
		&__img-lg {
		    width: 285px;
		}
	}
}


.jump-menu {
	margin-top: -20px;
}
.play-button {
	width: 60px;
	height: 60px;
    position: absolute;
    top: 3em;
    left: 40%;
    border: solid 4px #056eb4;
    border-radius: 100px;
    background-image: url(../../images/general/play-button-icon.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 12px center !important;
}
