.c-changes {

    &__num {
        width: 53px;
        height: 53px;
        line-height: 53px;
    }

    &__row {
        position: relative;
        padding-bottom: 2.625rem;

        &:after {
            content: '';
            display: inline-block;
            height: 46px;
            width: 0;
            border-left: 2px dotted $white;
        }

        &:last-child {
            
            &:after {
                display: none;
            }
        }
    }
}