@include media-breakpoint-up(lg) {
	.c-header {
		
		.navbar {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.navbar-brand {
			flex: 0 1 auto;
			margin-right: 3.5rem;
		}
		.navbar-collapse {
		    justify-content: space-between;
		    flex: 3;
		}
	}
}
