.navbar {
	.navbar-toggler {
		color: $navbar-light-color;
	}

	.navbar-toggler-icon {
		background-image: url('../../images/general/ico-burger.svg');
	}

}
.navbar-nav {
	.nav-link {
		text-transform: lowercase;
		color: $body-color;
	}
	.nav-item.active .nav-link,
	.nav-link.active,
	.nav-link:hover {
		color: $link-color;
	}
}
.navbar-brand img {
  max-width: 165px;
  width:165px;
}
@include media-breakpoint-down(md) {
		.navbar-nav {
			text-align: right;

			a {
				padding: 5px 14px;
    			display: block;
    			font-size: 1.2em;
			}
		}
		.navbar-collapse {
			form {
				float: right;
			}
		}
}
@include media-breakpoint-up(lg) {
	
	.nav-item {
		padding-left: $navbar-nav-item-padding-x;
		padding-right: $navbar-nav-item-padding-x;

		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.c-header {
		.navbar-brand {
			flex: 1;
		}
		.navbar-collapse {
		    justify-content: space-between;
		    flex: 3;
		}
		.navbar {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
		}
		.nav-link {
			position: relative;

			&:before {
				content: '';
				width: 0;
				height: 2px;
				background-color: $link-color;
				position: absolute;
				bottom: 5px;
				left: 0;
				transition: width .3s ease-in-out;
			}	
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
	.c-footer {
		.navbar {
			padding-top: 2.8125rem;
			padding-bottom: 2.8125rem;
		}
		
		.navbar-brand {
			order: 2;
		}
	}
}
