.c-prices {
    display: flex;
    flex-direction: column;

    .c-price {
    	min-width: 220px;
    	border: none;

    	.card-header {
    		border: none;
    		padding-top: 2.125rem;
    		padding-bottom: 2.125rem;
    	}
    	.card-body {
    		padding-top: 2.25rem;
    		padding-bottom: 2.25rem;
    	}
    	&__title {
    		font-size: 2.25rem;
    	}
    	&__price {
    		font-size: 3.75rem;
    	}
    }
}
@include media-breakpoint-up(sm) {
	.c-prices {
	    flex-flow: row wrap;
	    margin-right: -15px;
	    margin-left: -15px;

		.c-price {
		    display: flex;
		    flex: 1 0 0%;
		    flex-direction: column;
		    margin-right: 15px;
		    // margin-bottom: 0;
		    margin-left: 15px;
		}
	}
}