.introVid {
	background-image: url('../../images/general/play-button-icon.svg');
	background-size: 15px;
	background-position: 90% center;
	background-repeat: no-repeat;
	padding-right: 45px;
	transition: all 0.3s ease;
	color: #056eb4;

	&:hover {
		background-color: $bg-mediumblue;
		background-position: 93% center;
	}
}

.introVid-fixed {
	position: fixed;
	bottom: 1em;
	left: 1em;
	background-image: url('../../images/general/play-button-icon.svg');
	background-size: 15px;
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-right: 50px;
	transition: all 0.3s ease;
	color: #056eb4;
	border: solid 2px #056eb4;
	opacity: 0;
	&:hover {
		background-color: $bg-mediumblue;
		background-position: 93% center;
	}
	
	&.show {
		opacity: 1;
	}
}


.video-section-front {
	iframe {
		max-width: 100%;
		border: solid 5px #FFF;

		@include media-breakpoint-down(md) {
			height: 300px;
		}
	}
}

#explainervideo-popup {
	iframe {
		max-width: 100%;
		@include media-breakpoint-down(md) {
			height: 300px;
		}
	}
}