---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>
<section class="l-section pt-5">
  
    <div class="container container--extra-small">

        <article class="article" itemscope itemtype="http://schema.org/Article">

          <meta itemprop="datePublished" content="{{ page.date | date: '%Y-%m-%d' }}">

          <h1 itemprop="name" class="text-primary font-weight-bold mb-3">{{ page.title }}</h1>
            
          <h2 class="mb-3">{{ page.sub_heading }}</h2>

          {% if page.video_id and page.video_id != "" %}

              <div class="video text-center mb-4">

                      <div id="videoContainer">
                        <iframe id="explainer-video" class="video" width="850" height="483" src="https://www.youtube.com/embed/{{ page.video_id }}?wmode=transparent&rel=0&autoplay=1" frameborder="0" allowfullscreen wmode="Opaque"></iframe>
                      </div>
                      
            </div>
        
          {% else %}

          {% if page.banner_image and page.banner_image != "" %}
              <img itemprop="image" src="{{ page.banner_image | absolute_url }}" alt="{{ page.alt_text }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
          {% endif %}
          
          {% endif %}
        
          <span itemprop="articleBody">{{ content }}</span>
          
          <hr>

           {% for item in page.author %}

            {% assign people = site.people | where:"path", item %}
                {% for person in people %}

                  <div class="col-md-12" >
                    <div class="c-founder bg-white d-flex align-items-top rounded-sm shadow bg-primary-grad mb-5 mb-md-0">
                      <img alt="{{ person.title }}" src="{{ person.thumbnail | absolute_url }}" class="img-fluid rounded-circle shadow c-founder__ava">
                      <div class="pl-3 pr-2 py-3 pl-lg-5 pr-lg-4 py-lg-5">
                        <h5 class="font-weight-bold text-danger mb-1">Author:<span itemprop="author" itemscope itemtype="http://schema.org/Person">
<span itemprop="name">{{ person.title }}</span></span></h5>
                        {% if person.sub_heading %}
                          <h6 class="text-primary mb-3">{{ person.sub_heading }}</h6>
                        {% endif %}
                        <p>{{ person.content }}</p>
                        <p class="mb-0">
                         {% if person.linkedin %}
                          <a href="{{ person.linkedin }}" target="_blank"><img src="/images/content/ico-linkedin.svg" alt="" class="mr-2"></a>
                         {% endif %}
                         {% if person.email %}
                          <a href="mailto:{{ person.email }}" target="_blank"><img src="/images/content/ico-email.svg" alt=""></a>
                        {% endif %}
                        </p>
                      </div>
                    </div>
                  </div>

               {% endfor %}
            {% endfor %}         
      
      <a href="/blog" class="text-dark d-inline-block mt-4">< back to blog</a>

      </div>

    </article>

</section>

     

{% if page.related_posts.size > 0 %}
<section class="l-section bg-light">
  <div class="container container--small">
    <div class="h3 text-center font-weight-bold mb-xxl">related articles</div>
    <div class="row flex-column flex-sm-row">
      {% for item in page.related_posts %}
            {% assign posts = site.posts | where:"path", item %}
              {% for post in posts %}
              <div class="col-lg-6">
                <div class="c-article bg-white d-md-flex align-items-md-center rounded-lg overflow-hidden shadow-lg mb-5">
                   {% if post.banner_image and post.banner_image != "" %}
                    <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}" class="c-article__img-sm">
                  {% else %}
                    <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ post.title }}">
                  {% endif %}
                  <div class="px-4 py-3">
                    <h6 class="font-weight-bold text-primary mb-3">{{ post.title }}</h6>
                    <p class="mb-0">{{ post.content | truncatewords: 15 }}... <a class="text-primary" href="{{ post.url | absolute_url }}">keep reading</a></p>
                  </div>
                </div>
              </div>
            {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% include connects.html class="l-section bg-light connects-section-front" %}

{% include stratappfeatures.html class="l-section events-section-front" %}

{% include signupform.html class="bg-dark text-white" %}

{% include explainer-video-popup.html class="explainer-video-popup" %}


