---
layout: default
---
{% comment %}
    A layout for the events page. Used by default for all content on the site.
{% endcomment %}


 <!--    <section class="l-section">
          <div class="container container--small text-center">
            {{ content }}
          </div>
    </section> -->
    
    </div>
    <h1 class="d-none">events</h1>
    
    {% include events.html class="l-section events-section" %}
     

    {% include threebigchanges.html class="l-section bg-danger text-white" %}


    {% include signupform.html class="bg-dark text-white" %}
    

    {% include explainer-video-popup.html class="explainer-video-popup" %}
    
