---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>

<section class="bg-primary events-hero-banner text-white">

        <div class="container">

          <div class="row d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-5 py-5 hero-banner-event">
              
              <h1 class="h2 y-0 mb-4 font-weight-bold">{{ page.title }}</h1>
              
              <ul class="custom-list h6 mb-5">
                <li class="mb-4 d-block">
                  <div class="h4 float-left text-center d-inline-block text-white bg-danger rounded-circle font-weight-bold mb-3 c-numbers">1</div>
                  learn how to seamlessly execute both strategy and day to day work in one place
                </li>
                <li class="mb-4 d-block">
                  <div class="h4 float-left text-center d-inline-block text-white bg-danger rounded-circle font-weight-bold mb-3 c-numbers">2</div>
                  achieve genuine org-wide collaboration, across all levels, roles and generations
                </li>
                <li class="mb-3 d-block">
                  <div class="h4 float-left text-center d-inline-block text-white bg-danger rounded-circle font-weight-bold mb-3 c-numbers">3</div>
                  hear from other CxOs, meet a co-founder and dive into a live demo of #stratapp
                </li>
              </ul>
              <!-- Calendly link widget begin -->
              <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
              <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>

              <a class="text-caps btn btn-danger mb-2 mr-2" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stratapp/cxo-event-brisbane'});return false;">register Brisbane</a>
              <a class="text-caps btn mb-2 btn-danger"href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stratapp/cxo-event-sydney'});return false;">register Sydney</a>
              <!-- Calendly link widget end -->

            </div>
            <div class="col-lg-7 pl-5 d-none d-lg-block">
               <img class="feature-event-image" src="{{ page.hero_image | relative_url }}" alt="{{ page.title }}">
            </div>
          </div>
        </div>

</section>

<section class="l-section bg-light py-8">
      
     <div class="container container--small text-center py-8">
          
          <div class="row" data-aos="fade-up" data-aos-delay="200"> 
              
             <div id="quoteCarousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-target="#quoteCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quoteCarousel" data-slide-to="1"></li>
                  <li data-target="#quoteCarousel" data-slide-to="2"></li>
                </ol>
               <div class="carousel-inner">
                 <div class="carousel-item py-5 active">
                    <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                        <h4 id="our-industry-is-going-through-massive-change--stratapp-is-at-the-core-of-our-response-connecting-our-talent-across-four-countries-aligning-all-of-us-in-real-time">“Interesting insight into what #stratapp can do for our business, a great collaboration of like minded people”</h4>
                        <h5 id="--renato-domini-ceo-panorama-destination">James Charlesworth - Managing Director, TTH Industries</h5>
                    </div>
                 </div>
                 <div class="carousel-item py-5">
                  <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                        <h4 id="our-industry-is-going-through-massive-change--stratapp-is-at-the-core-of-our-response-connecting-our-talent-across-four-countries-aligning-all-of-us-in-real-time">“Attending CxO gave me validation that ours is not the only business with this very high value challenge. #stratapp solves a fundamental business problem of visible, shared, accountable and live execution of strategy.”</h4>
                        <h5 id="--renato-domini-ceo-panorama-destination">Troy Hincho - General Manager, Electrolux</h5>
                    </div>
                 </div>
                 <div class="carousel-item py-5">
                   <div data-aos="fade-up" data-aos-delay="100" class="aos-init aos-animate">
                        <h4 id="our-industry-is-going-through-massive-change--stratapp-is-at-the-core-of-our-response-connecting-our-talent-across-four-countries-aligning-all-of-us-in-real-time">“Very informative session on the value of this powerful tool and how it can help give clarity and structure to businesses and their strategic direction through to execution”</h4>
                        <h5 id="--renato-domini-ceo-panorama-destination">Mark Gorrie - Senior Director, Symantec</h5>
                    </div>
                 </div>
               </div>
             </div>    

          </div>
      </div>    
  
</section>

<section class="l-section bg-danger text-white">

        <div class="container container--small"> 

          <div class="h3 text-center font-weight-bold mb-5" data-aos="fade-up" data-aos-delay="100">session agenda</div>

            <div class="row row-agenda justify-content-between">

              <div class="col-md-6">

                  <div class="c-changes__row2 mb-4" data-aos="fade-up" data-aos-delay="300">

                    <div class="h3 mr-2 mb-0 text-center float-left text-danger bg-white rounded-circle font-weight-bold c-changes__num">1</div>

                    <h5 class="mb-0">how strategy has been shared and executed for the last 30 years</h5>

                  </div>

                  <div class="c-changes__row2 mb-3 d-flex align-items-center justify-content-start" data-aos="fade-up" data-aos-delay="300">

                    <div class="h3 mr-2 mb-0 text-center text-danger bg-white rounded-circle font-weight-bold c-changes__num">2</div>

                    <h5 class="mb-0">current tech landscape</h5>

                  </div>
                  <div class="c-changes__row pb-3 mb-0 d-flex align-items-center justify-content-start" data-aos="fade-up" data-aos-delay="300">

                    <div class="h3 mr-2 mb-0 text-center text-danger bg-white rounded-circle font-weight-bold c-changes__num">3</div>
                    
                    <h5 class="mb-0">key trends in tech and innovation</h5>

                  </div>
                </div>
                <div class="col-md-5">
                    <div class="c-changes__row2 mb-3 d-flex align-items-center justify-content-start" data-aos="fade-up" data-aos-delay="300">

                      <div class="h3 mr-2 mb-0 text-center text-danger bg-white rounded-circle font-weight-bold c-changes__num">4</div>
                      
                      <h5 class="mb-0">why #stratapp</h5>

                    </div>
                    <div class="c-changes__row2 mb-3 d-flex align-items-center justify-content-start" data-aos="fade-up" data-aos-delay="300">

                      <div class="h3 mr-2 mb-0 text-center text-danger bg-white rounded-circle font-weight-bold c-changes__num">5</div>
                      
                      <h5 class="mb-0">live product demo</h5>

                    </div>
                    <div class="c-changes__row2 d-flex align-items-center justify-content-start" data-aos="fade-up" data-aos-delay="300">

                      <div class="h3 mr-2 mb-0 text-center text-danger bg-white rounded-circle font-weight-bold c-changes__num">6</div>
                      
                      <h5 class="mb-0">Q&A / ideas sharing</h5>

                    </div>
                </div>
            </div>
        </div>
</section>

<section class="l-section bg-dark  text-primary text-center">

        <div class="container container--small">

          <div data-aos="fade-up" data-aos-delay="100">
            
            <h3 class="h2 font-weight-bold text-white">book a CxO event</h3>
            <h4 class="h2 px-md-5 text-white">open to CEOs, business owners and C-level executives</h4>
            
            <a class="text-caps btn btn-danger mb-2 mr-sm-3" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stratapp/cxo-event-brisbane'});return false;">register Brisbane</a>
              <a class="text-caps btn btn-danger mb-2" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/stratapp/cxo-event-sydney'});return false;">register Sydney</a>


          </div>

        </div>
</section>




{% include signupform.html class="bg-primary text-white" %}

{% include explainer-video-popup.html class="explainer-video-popup" %}
