---
layout: default
---
{% comment %}
	This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>
<section class="l-section pt-5">
  
    <div class="container container--small">
          
      <article class="article" itemscope itemtype="http://schema.org/Article">

          <div class="d-md-flex align-items-md-top text-left text-md-left" data-aos="fade-up" data-aos-delay="100">
            
            <div class="c-feature__img mx-auto mb-4 mb-md-0">
              
              {% if page.hero_image and page.hero_image != "" %}
                <img src="{{ page.hero_image | relative_url }}" alt="{{ page.alt_text }}">
              {% else %}
                <div class="color-block c-feature__img mx-auto mb-4 mb-md-0"></div>
              {% endif %}

            </div>
              
            <div class="feature__body col-md-9 pl-md-5">

              <h1 itemprop="name" class="text-primary font-weight-bold mb-3">{{ page.title }}</h1>

              <span itemprop="articleBody">{{ content }}</span>
          
              <hr>

           
              <a href="/features" class="h5 text-dark d-inline-block mt-4">< back to all features</a>

            </div>

          </div>

    </article>

</section>

     

{% include signupform.html class="bg-dark text-white" %}

{% include explainer-video-popup.html class="explainer-video-popup" %}


