---
layout: default
---
{% comment %}
  This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>
<article class="resources">

  <section class="l-section pt-5">
    
      <div class="container container--extra-small"><a href="/resources" class="text-dark d-inline-block mb-4">< back to resources</a>

            <h1 class="text-primary font-weight-bold mb-0">{{ page.title }}</h1>
     
            <p class="text-primary">By {{ page.author }}</p>

            {% if page.banner_image and page.banner_image != "" %}
                <img src="{{ page.banner_image | absolute_url }}" alt="{{ page.title }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
            {% else %}
                <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ page.title }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
            {% endif %}

            {{ content }}

          </div>

  </section>
  {% if page.related_posts.size > 0 %}
  <section class="l-section bg-light">
    <div class="container container--small">
      <div class="h3 text-center font-weight-bold mb-xxl">related articles</div>
      <div class="row flex-column flex-sm-row">
        {% for item in page.related_posts %}
              {% assign posts = site.posts | where:"path", item %}
                {% for post in posts %}
                <div class="col-lg-6">
                  <div class="c-article bg-white d-md-flex align-items-md-center rounded-lg overflow-hidden shadow-lg mb-5">
                     {% if post.banner_image and post.banner_image != "" %}
                      <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}" class="c-article__img-sm">
                    {% else %}
                      <img src="{{ "/img/placeholder.png" | absolute_url }}" alt="{{ post.title }}">
                    {% endif %}
                    <div class="px-4 py-3">
                      <h6 class="font-weight-bold text-primary mb-3">{{ post.title }}</h6>
                      <p class="mb-0">{{ post.content | truncatewords: 15 }}... <a class="text-primary" href="{{ post.url | absolute_url }}">keep reading</a></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}

</article>

{% include stratappfeatures.html class="l-section bg-light events-section-front" %}

{% include signupform.html class="bg-dark text-white" %}

{% include explainer-video-popup.html class="explainer-video-popup" %}
      
