---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}



 		<section class="l-section-sm">
          <div class="container container--small text-center">
              {{ content }}
          </div>
        </section>
    </div>
		<section class="l-section-mt-n pt-0 pb-5">
        <div class="container">
          <div id="priceTab" role="tablist" class="c-prices-tab nav justify-content-center mb-3 mb-md-5"><a id="pricing-annually-tab" data-toggle="tab" href="#pricingAnnually" role="tab" aria-controls="home" aria-selected="true" class="btn btn-primary rounded-pill active">pricing annually</a><a id="pricing-monthly-tab" data-toggle="tab" href="#pricingMonthly" role="tab" aria-controls="profile" aria-selected="false" class="btn btn-primary rounded-pill">pricing monthly</a></div>
          <div class="text-muted text-center mb-3 mb-md-5">pricing in US$ | pay annually and save 22-29%</div>
          <div id="priceTabContent" class="c-prices-tab-content tab-content">
            <div id="pricingAnnually" role="tabpanel" aria-labelledby="pricing-annually-tab" class="tab-pane show active">
                <div class="c-prices text-center">
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">growing</h2>
                      <div class="h6 mb-0 mt-2">< 500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$6.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">medium</h2>
                      <div class="h6 mb-0 mt-2">< 1,500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$5.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">enterprise</h2>
                      <div class="h6 mb-0 mt-2">≥ 1,500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$4.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                </div>
            </div>
            <div id="pricingMonthly" role="tabpanel" aria-labelledby="pricing-monthly-tab" class="tab-pane">
                <div class="c-prices text-center">
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">growing</h2>
                      <div class="h6 mb-0 mt-2">< 500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$8.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">medium</h2>
                      <div class="h6 mb-0 mt-2">< 1,500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$7.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                  <div class="c-price card mb-4 shadow-lg">
                    <div class="card-header bg-danger text-white">
                      <h2 class="my-0 font-weight-bold c-price__title">enterprise</h2>
                      <div class="h6 mb-0 mt-2">≥ 1,500 users</div>
                    </div>
                    <div class="card-body">
                      <h1 class="my-0 card-title c-price__price">$6.90</h1>
                      <div class="h6 mb-0 mt-1">per user / month</div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="text-sm-center mt-4 d-md-flex justify-content-md-center align-items-md-center">
            <div class="mr-4 mb-2 mb-md-0"><img src="/images/general/ico-tick.svg" alt="" class="mr-2 mt-n1">no setup fees</div>
            <div class="mr-4 mb-2 mb-md-0"><img src="/images/general/ico-tick.svg" alt="" class="mr-2 mt-n1">no hardware or integration costs</div>
            <div class="mb-2 mb-md-0"><img src="/images/general/ico-tick.svg" alt="" class="mr-2 mt-n1">no or minimal end-user training</div>
            
          </div>
        </div>
      </section>
      <section class="l-section bg-primary text-white text-center">
        <div class="container">

          <div data-aos="fade-up" data-aos-delay="100">
            {{ page.quote | markdownify }}
          </div>

        </div>
      </section>
      

      <section class="l-section-sm">
        <div class="container container--small">
          <div class="h3 font-weight-bold text-center mb-xxl" data-aos="fade-up" data-aos-delay="100">FAQ’s</div>
          <div id="accordionFaq" class="mb-xxl accordion">

            {% for faq in page.faqs %}

            <div class="card c-faq bg-light mb-4" data-aos="fade-up" data-aos-delay="100">
              <h2 id="heading{{ forloop.index }}" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapseOne" class="h5 card-header">{{ faq.question }}</h2>
              <div id="collapse{{ forloop.index }}" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordionFaq" class="collapse {% if forloop.index ==1 %}show{% endif %}">
                <div class="card-body">
                  <div class="h6 my-0">{{ faq.answer | markdownify }}</div>
                </div>
              </div>
            </div>

            {% endfor %} 

           <!--  <div class="card c-faq bg-light mb-4">
              <h2 id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="h5 card-header collapsed">what payment methods do you accept and how do I access past invoices and billing history?</h2>
              <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionFaq" class="collapse">
                <div class="card-body">We do offer a free 15-day trial. Plenty of time to get started and using #stratapp. There are no set-up fees. No consultants, integrations or hardware costs.  No end user training costs; the user experience is immediately intuitive.</div>
              </div>
            </div>
            <div class="card c-faq bg-light mb-4">
              <h2 id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="h5 card-header collapsed">is my data safe?</h2>
              <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionFaq" class="collapse">
                <div class="card-body">We do offer a free 15-day trial. Plenty of time to get started and using #stratapp. There are no set-up fees. No consultants, integrations or hardware costs.  No end user training costs; the user experience is immediately intuitive.</div>
              </div>
            </div> -->
          </div>
        </div>
      </section>
      
      {% include connects.html class="l-section connects-section-front bg-light" %}

      {% include stratappfeatures.html class="l-section events-section-front" %}

      {% include signupform.html class="bg-dark text-white" %}

      {% include explainer-video-popup.html class="explainer-video-popup" %}

      

