---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}
    
    </div>

 		   <section class="l-section pt-5 pb-4 bg-primary">
          <div class="container container--small text-center text-white">

           {{ content }}

          </div>
        </section>
      </div>
      <section class="l-section-sm">
        <div class="container">


            <form id="free-trial" action="https://api.stratapp.ai/api/register/link" method='POST' onSubmit='' accept-charset='UTF-8'>
                         
            <div class="row mb-2 justify-content-center">

              <div class="col-md-12"> 
                 <h3 class="h3 font-weight-bold text-center">Register</h3>
              </div>

              <div class="col-md-6">
                <label for="Email" class="sr-only">email</label>
                <input type="email" id="email" name='Email' placeholder="enter email" class="form-control" aria-required="true" data-ok="false">
                <span class="error-msg" id="emailErr"></span>
              </div>
                         
              <div class="col-md-2">
                <button type="submit" id="formsubmit" class="btn btn-primary rounded-pill" disabled="disabled">register</button>
              </div>
            
              <div class="col-md-12 text-center">
                <div id="response" class="d-block py-3 mt-2 text-success h5"></div>
              </div>

            </div>

              <script>
              $("#free-trial").submit(function(event){
                event.preventDefault(); //prevent default action 
                var post_url = "https://api.stratapp.ai/api/register/link"; //get form action url
                var request_method = "POST"; //get form GET/POST method
                var form_data = $(this).serialize(); //Encode form elements for submission
                //[{"key":"Authorization","value":"Api-Key ZiEQaPjOe06P49Ld4r+VTQ==","description":"","type":"text","enabled":true}]
                $.ajax({
                  url : post_url,
                  type: request_method,
                  processData:false,
                  data : '"' + $('#email').val() + '"',
                  headers: {
                    'Authorization':'Api-Key ZiEQaPjOe06P49Ld4r+VTQ==',
                    'Content-Type' : 'application/json'
                    // more as you need
                  }
                }).done(function(response){ //
                  console.log("response",response);
                  $("#response").text("thank you, please check your email - if you don’t receive it, please check your spam folder");
                });
              });


             
            </script>
          </form>
        </div>
      </section>


      {% include signupform.html class="bg-dark text-white" %}

     