---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}


 <section class="l-section bg-primary-grad" >
        <div class="container">
          <div class="row align-items-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-md-7">
				
				      <h1>{{ page.title }}</h1>

            	{{ content }}
              <ul>
                {% for page in site.pages %}
                {% if page.title %}
                {% unless page.exclude %}
                <li>
                  <a class="post-link" href="{{ page.url | absolute_url }}">{{ page.title }}<a>
                </li>
                {% endunless %}
                {% endif %}

                {% endfor %}

                {% for post in site.posts %}
                  <li>
                    <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}

              </ul>

            </div>
         
          </div>
        </div>
 </section>