---
layout: default
---
{% comment %}
  This layout is used by the documents in the _posts/ collection
{% endcomment %}

</div>
<section class="l-section pt-5">
  
    <div class="container container--extra-small">

        <article class="article">

          <h1 itemprop="name" class="h3 text-primary font-weight-bold mb-3">{{ page.title }}</h1>
            
          <h2 class="h4 mb-3">{{ page.sub_heading }}</h2>

          {% if page.video_id and page.video_id != "" %}

              <div class="video text-center mb-4">

                      <div id="videoContainer">

                        <iframe src="https://player.vimeo.com/video/{{ page.video_id }}" width="850" height="580" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                      </div>
                      
            </div>
        
          {% else %}

          {% if page.banner_image and page.banner_image != "" %}
              <img itemprop="image" src="{{ page.banner_image | absolute_url }}" alt="{{ page.title }}" class="img-fluid rounded-lg mb-4 mb-sm-5">
          {% endif %}
          
          {% endif %}
        
          <span itemprop="articleBody">{{ content }}</span>
          
          <hr>

       
      
      <a href="javascript:history.back()" class="text-dark d-inline-block mt-4">< back to tutorials</a>

      </div>

    </article>

</section>

    

{% include connects.html class="l-section bg-light connects-section-front" %}

{% include stratappfeatures.html class="l-section events-section-front" %}

{% include signupform.html class="bg-dark text-white" %}

{% include explainer-video-popup.html class="explainer-video-popup" %}


