---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}

    <!-- <section class="l-section pt-4 mb-5 pb-3 bg-light">
          <div class="container container--small text-center">
            {{ content }}
          </div>
        </section> -->
    
    </div>

    <h1 class="d-none">tutorials</h1>

    <section class="l-section pt-5">

          <div class="container container--small">
    
      {% comment %}
      =======================
      The following part extracts all the tags from your posts and sort tags, so that you do not need to manually collect your tags to a place.
      =======================
      {% endcomment %}
      {% assign rawtags = "" %}
      {% for post in site.videos %}
        {% assign ttags = post.category | join:'|' | append:'|' %}
        {% assign rawtags = rawtags | append:ttags %}
      {% endfor %}
      {% assign rawtags = rawtags | split:'|' | sort %}

      {% comment %}
      =======================
      The following part removes dulpicated tags and invalid tags like blank tag.
      =======================
      {% endcomment %}
      {% assign tags = "" %}
      {% for tag in rawtags %}
        {% if tag != "" %}
          {% if tags == "" %}
            {% assign tags = tag | split:'|' %}
          {% endif %}
          {% unless tags contains tag %}
            {% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      <div class="jump-menu d-inline bg-light rounded p-2 float-right">
        {% for tag in tags %}
          <a href="#{{ tag | slugify }}"><h6 class="d-inline px-1">{{ tag }}</h6></a>
        {% endfor %}
      </div>
      
      {% for tag in tags %}
      <h3 class="font-weight-bold text-danger mb-3" id="{{ tag | slugify }}">{{ tag }}</h3>
      <div class="row flex-column flex-md-row">
       {% for post in site.videos reversed %}
         {% if post.category contains tag %}
          <article class="col-md-4" data-aos="flip-up" data-aos-delay="150">
            <div class="c-blog bg-white rounded-lg overflow-hidden shadow-lg mb-5">

              {% if post.banner_image and post.banner_image != "" %}
                {% if post.video_id and post.video_id != "" %}
                    <span class="play-button"></span>
                {% endif %}
                <img src="{{ post.banner_image | absolute_url }}" alt="{{ post.title }}" class="c-article__img-md">
              {% else %}
                {% if post.video_id and post.video_id != "" %}
                  <a href="{{ post.url | absolute_url }}">
                    <span class="play-button"></span>
                     <img data-vimeo-id="{{ post.video_id }}" src="" class="c-article__img-md" alt="{{ post.title }}">
                    </a>
                   
                   
                  {% endif %}
              {% endif %}
              <div class="px-4 py-3">
                      <h5 class="font-weight-bold text-primary mb-3"><a title="{{ post.title }}" href="{{ post.url | absolute_url }}">{{ post.title }}</a></h5>
                      <p class="mb-0">{{ post.content | strip_html | truncatewords: 20 }}</p>
                      
                </div>
            </div>
          </article>
         {% endif %}
       {% endfor %}
      </div>
    {% endfor %}

  </div>
  </section>
  
  {% include connects.html class="l-section connects-section-front bg-light" %}

  {% include stratappfeatures.html class="l-section events-section-front" %}

  {% include signupform.html class="bg-dark text-white" %}

  {% include explainer-video-popup.html class="explainer-video-popup" %}

  
  
